page-signin {

	.login-center {
	    padding-top: 50px;
	}

	.logo {
		padding-top: 30px;
		padding-bottom: 60px;
		width: 100%;
	}

	.button-clear {
		text-transform: none;
		font-size: 14px;
	}

}

